<ion-view title="Login" id="page9" style="background-color: rgb(51, 123, 25);">
  <ion-content padding="true" class="has-header">
    <form id="login-form" class="list">
      <ion-list id="login-list2">
        <div class="spacer" style="height: 80px;"></div>
        <label class="item item-input">
          <span class="input-label">Matrícula:</span>
          <input name="matricula2" placeholder="42/4242424" type="text" onkeyup="maskMatriculaLogin(this);" maxlenght="9" id="matricula">
        </label>
        <label class="item item-input">
          <span class="input-label">Senha:</span>
          <input placeholder="Minimo de 6 caracteres" type="password" id="password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a id="login-button5" class="button button-stable  button-block"ng-click="entrar()">Entrar</a>
      <a ui-sref="signup" id="login-button6" class="button button-stable  button-block button-dark">Criar conta</a>
      <a ui-sref="inicio" id="login-button7" class="button button-stable button-block">Esqueci minha senha</a>
    </form>
  </ion-content>
</ion-view>
