<ion-view id="page1" style="">
  <ion-tabs class="tabs-balanced tabs-icon-top" id="tabsController-tabs1" style="">
    <ion-tab title="Verificar código de barra" icon="ion-ios-camera" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Comprar refeição" icon="ion-ios-cart" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="RU News" icon="ion-heart-broken" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>