<ion-view title="Login" id="page9" style="background-color: rgb(51, 123, 25);">
  <ion-content padding="true" class="has-header">
    <form id="login-form2" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input4">
          <span class="input-label">Matrícula</span>
          <input placeholder="" type="text">
        </label>
        <label class="item item-input" id="login-input5">
          <span class="input-label">Password</span>
          <input placeholder="" type="password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="menu" id="login-button5" class="button button-stable  button-block">Log in</a>
      <a ui-sref="signup" id="login-button6" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>