<ion-view title="Signup" id="page7" style="background-color: rgb(66, 135, 19);">
  <ion-content padding="true" class="has-header">
    <form id="signup-form1" class="list">
      <ion-list id="signup-list1">
        <label class="item item-input" id="signup-input2">
          <span class="input-label">Username</span>
          <input placeholder="" type="text">
        </label>
        <label class="item item-input" id="signup-input6">
          <span class="input-label">Matricula</span>
          <input placeholder="" type="text">
        </label>
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Password</span>
          <input placeholder="" type="text">
        </label>
      </ion-list>
      <a ui-sref="login" id="signup-button4" class="button button-stable  button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>